*{
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

body{
    background-color: white;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
}

/* Agrega tu código aquí */
